<?xml version="1.0"?>
  <config>
     <modules>
        <Lb_Points>
          <version>1.0.0</version>
        </Lb_Points>
     </modules>
     <global>
        <models>
            <points>
                <class>Lb_Points_Model</class>
            </points>
            <lbpoints>
                <class>Lb_Points_Model</class>
            </lbpoints>
        </models>
        <helpers>
            <points>
                <class>Lb_Points_Helper</class>
            </points>
        </helpers>
        <blocks>
            <lb>
                <class>Lb_Points_Block</class>
            </lb>
        </blocks>
        <events>
            <controller_front_init_before>
                <observers>
                    <session_too_early>
                        <type>singleton</type>
                        <class>Lb_Points_Model_Observer</class>
                        <method>earlySession</method>
                    </session_too_early>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
     <frontend>
       <routers>
          <routeurfrontend>
              <use>standard</use>
              <args>
                 <module>Lb_Points</module>
                 <frontName>lb</frontName>
              </args>
           </routeurfrontend>
       </routers>
       <layout>
            <updates>
                <lb>
                    <file>lb.xml</file>
                </lb>
            </updates>
        </layout>
    <events>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <controller_action_after>
                        <class>Lb_Points_Model_Observer</class>
                        <method>logCartUpdate</method>
                    </controller_action_after>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
        
        <checkout_submit_all_after>
            <observers>
                <awesome_example>
                    <type>singleton</type>
                    <class>Lb_Points_Model_Observer</class>
                    <method>orderProcesing</method>
                </awesome_example>
            </observers>
        </checkout_submit_all_after>
        <checkout_onepage_controller_success_action>
            <observers>
                <order_processing_success>
                    <type>singleton</type>
                    <class>Lb_Points_Model_Observer</class>
                    <method>orderPlacedSuccessfully</method>
                </order_processing_success>
            </observers>
        </checkout_onepage_controller_success_action>
        </events>
    </frontend>
</config>